@page
@model ProjektSystemRezerwacjiSalMN.Pages.Debugging.Buildings.BuildingRoomModel
@{
}

<h1>List of rooms</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Room)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    <a asp-page="/Debugging/Rooms/RoomEquip" asp-route-id="@item.Id">Room's equipment</a> |
                    <a asp-page="/Debugging/Rooms/RoomCats" asp-route-id="@item.Id">Room's categories</a> |
                    <a asp-page="/Debugging/Rooms/RoomBookings" asp-route-id="@item.Id">Check booking</a>
                </td>
            </tr>
        }
    </tbody>
</table>